.mainFormDiv{
    width: 400px;
    height: 300px;
    border: 1px solid blue;
    background-color: rgb(135, 0, 245);
    color:  black;
    cursor: pointer;
    margin: auto;
}

.tableDiv{
    width: 600px;
    height: 400px;
    border: 1px solid blue;
    background-color: rgb(217, 223, 198);
    color:  black;
    cursor: pointer;
    margin: auto;
    margin-top: 30px;
    
}



